.mc-main {
  .maybe-hide {
    display: none;
  }

  .mc-format,
  .mc-time,
  .my-calendar-date-switcher {
    clear: left;
    float: left;
  }

  .mc-format *,
  .mc-time * {
    margin-right: 0.5em;
  }

  .mc-format a::before,
  .mc-time span::before,
  .mc-time a::before {
    font-family: Genericons;
    font-size: 1.1em;
    margin-right: 0.25em;
    vertical-align: middle;
  }

  .mc-format a.list::before {
    content: '\f505'
  }

  .mc-format a.grid::before {
    content: '\f436'
  }

  .mc-time *:first-child::before {
    content: '\f307';
  }
  .mc-time *:nth-child(2)::before {
    content: '\f306';
  }
  .mc-time *:nth-child(3)::before {
    content: '\f305';
  }

  div.my-calendar-date-switcher {
    margin: 0;
    padding: 0;
  }

  .my-calendar-nav {
    float: right;

    ul li a {
      padding: 0 0 0 10px;
    }

    a::before {
      font-family: Genericons;
    }
    .my-calendar-prev a::before {
      content: '\f503';
    }
    .my-calendar-next a::before {
      content: '\f501';
    }
  }

  table.my-calendar-table {
    border: 1px solid rgba(127, 127, 127, 0.5);
    clear: both;

    td {
      border: 1px solid rgba(127, 127, 127, 0.5);
    }
  }

  .mc-export {
    margin-bottom: 1em;
  }

  .mc-export ul {
    list-style-type: none;
    li {
      border-left: 1px solid rgba(0, 0, 0, 0.5);
      display: inline-block;
      margin-left: 0.5em;
      padding-left: 0.5em;
      &:first-child {
        border-left: 0 none transparent;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  h3,
  h3 a {
    font-family: $opensans;
  }

  .calendar-event .details {
    padding: 0;

    & > div {
      padding: 0 1em;
    }

    .time-block {
      margin-bottom: 0.5em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;

      p {
        margin: 0;
      }

      .mc-event-date {
        font-weight: 600;
      }

      .mc-event-date::after {
        content: ": ";
      }
    }

    .event-time {
      display: inline;
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
    }
  }

  .single-event .details {
    border: 0 none transparent;

    & > div {
      padding: 0;
    }

    .mc-event-date {
      font-weight: 600;
    }

    .mc-event-date::after {
      content: ": ";
    }
  }

  .single-event h2.event-title {
    background-color: transparent;
    font-size: 1.75em;
    margin: 0.80em 0;

    img {
      display: none;
    }
  }

  .details .close {
    margin: 0.5rem 1rem !important;
    width: auto !important;
  }

  .details .close img {
    display: none;
  }

  .details .close::before {
    content: "\f405";
    font: 24px/1 'Genericons';
  }

  .details .close:last-child {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .mc-main {
    .mc-format,
    .mc-time,
    .my-calendar-date-switcher {
      clear: none;
    }

    .mc-format,
    .mc-time {
      border-right: 1px solid rgba(127, 127, 127, 0.5);
      margin-right: 1em;
      padding-right: 0.5em;
    }

    .mc_bottomnav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .mc-export {
      margin-top: 1em;
    }
  }
}

#wp-admin-bar-mc-add-event,
#wp-admin-bar-mc-my-calendar {
  display: none;
}
