<?php
/**
 * Custom CSS for theme colors.
 *
 * @package Hovercraft
 */?>
/* Header */
#masthead {
  background: <?php echo $header_background_color; ?>;
  color: <?php echo $header_text_color; ?>;
}

h1.site-title a,
h1.site-title a:hover {
  color: <?php echo $content_text_color; ?>;
}

#masthead a,
#masthead a:visited {
  color: <?php echo $header_link_color; ?>;
}

#masthead a:hover {
  color: <?php echo $header_text_color; ?>;
}

.menu-toggle .lines,
.menu-toggle .lines::before,
.menu-toggle .lines::after {
  background-color: <?php echo $header_text_color; ?>;
}

.menu-toggled .lines {
  background-color: transparent;
}

#primary-navigation li.menu-item a:hover,
#primary-navigation li.menu-item a:focus {
  border-color: <?php echo $header_link_color; ?>;
}

#primary-navigation li.menu-item .sub-menu a:hover,
#primary-navigation li.menu-item .sub-menu a:focus {
  border-color: <?php echo $content_link_color; ?>;
}

/* Content area */
#primary,
.search-form label {
  background-color: <?php echo $content_background_color; ?>;
}

@media screen and (min-width: 800px) {
  .flexbox #primary-navigation ul.sub-menu {
    background-color: <?php echo $content_background_color; ?>;
  }
}

#primary a,
#primary a:visited {
  color: <?php echo $content_link_color; ?>;
}
#primary .widget li::before {
  color: <?php echo $content_link_color; ?>;
}

#primary,
#primary button,
#primary input,
#primary select,
#primary textarea,
#primary h1,
#primary h2,
#primary h3,
#primary h4,
#primary h5,
#primary h6,
#primary .widget,
#primary .widget .widget-title,
#primary a:hover,
.search-form .search-field {
  color: <?php echo $content_text_color; ?>;
}

#primary button,
#primary input[type="button"],
#primary input[type="reset"],
#primary input[type="submit"] {
  color: <?php echo $content_text_color; ?>;
  border-color: <?php echo $content_text_color; ?>;
}

#primary button:hover,
#primary input[type="button"]:hover,
#primary input[type="reset"]:hover,
#primary input[type="submit"]:hover,
#primary button:active,
#primary button:focus,
#primary input[type="button"]:active,
#primary input[type="button"]:focus,
#primary input[type="reset"]:active,
#primary input[type="reset"]:focus,
#primary input[type="submit"]:active,
#primary input[type="submit"]:focus {
  color: <?php echo $content_link_color; ?>;
  border-color: <?php echo $content_link_color; ?>;
}

#primary blockquote {
  border-left-color: <?php echo $content_link_color; ?>;
}

/* Sidebar */
#content,
#secondary {
  background-color: <?php echo $sidebar_background_color; ?>;
}

#secondary a,
#secondary a:visited {
  color: <?php echo $sidebar_link_color; ?>;
}
#secondary .widget li::before {
  color: <?php echo $sidebar_link_color; ?>;
}

#secondary,
#secondary button,
#secondary input,
#secondary select,
#secondary textarea,
#secondary h1,
#secondary h2,
#secondary h3,
#secondary h4,
#secondary h5,
#secondary h6,
#secondary .widget,
#secondary .widget .widget-title,
#secondary a:hover {
  color: <?php echo $sidebar_text_color; ?>;
}

#secondary button,
#secondary input[type="button"],
#secondary input[type="reset"],
#secondary input[type="submit"] {
  color: <?php echo $sidebar_text_color; ?>;
  border-color: <?php echo $sidebar_text_color; ?>;
}

#secondary button:hover,
#secondary input[type="button"]:hover,
#secondary input[type="reset"]:hover,
#secondary input[type="submit"]:hover,
#secondary button:active,
#secondary button:focus,
#secondary input[type="button"]:active,
#secondary input[type="button"]:focus,
#secondary input[type="reset"]:active,
#secondary input[type="reset"]:focus,
#secondary input[type="submit"]:active,
#secondary input[type="submit"]:focus {
  color: <?php echo $sidebar_link_color; ?>;
  border-color: <?php echo $sidebar_link_color; ?>;
}

/* Footer */
body,
#colophon {
  background-color: <?php echo $footer_background_color; ?>;
}

#colophon a,
#colophon a:visited {
  color: <?php echo $footer_link_color; ?>;
}
#colophon .widget li::before {
  color: <?php echo $footer_link_color; ?>;
}

#colophon,
#colophon button,
#colophon input,
#colophon select,
#colophon textarea,
#colophon h1,
#colophon h2,
#colophon h3,
#colophon h4,
#colophon h5,
#colophon h6,
#colophon .widget,
#colophon .widget .widget-title,
#colophon a:hover {
  color: <?php echo $footer_text_color; ?>;
}

#colophon button,
#colophon input[type="button"],
#colophon input[type="reset"],
#colophon input[type="submit"] {
  color: <?php echo $footer_text_color; ?>;
  border-color: <?php echo $footer_text_color; ?>;
}

#colophon button:hover,
#colophon input[type="button"]:hover,
#colophon input[type="reset"]:hover,
#colophon input[type="submit"]:hover,
#colophon button:active,
#colophon button:focus,
#colophon input[type="button"]:active,
#colophon input[type="button"]:focus,
#colophon input[type="reset"]:active,
#colophon input[type="reset"]:focus,
#colophon input[type="submit"]:active,
#colophon input[type="submit"]:focus {
  color: <?php echo $footer_link_color; ?>;
  border-color: <?php echo $footer_link_color; ?>;
}
