<?php
/**
 * Custom CSS for banner image.
 *
 * @package Hovercraft
 */?>

#banner-image {
   background-image: url('<?php echo $small_url; ?>');
}

@media screen and (min-width: 800px) {
  .flexbox #banner-image {
     background-image: url('<?php echo $medium_url; ?>');
  }
  .flexbox #masthead {
    background-color: <?php echo $header_rgba; ?>;
  }
}

@media screen and (min-width: 1024px) {
  .flexbox #banner-image {
     background-image: url('<?php echo $large_url; ?>');
  }
}
