table {
	margin: 0 0 1.5em;
	width: 100%;
	max-width: 100%;
	@include font-size(0.875);
}
thead tr {
	background: $color__background-header-table;
}
thead tr th,
tbody tr th,
tbody tr td,
tfoot tr th,
tfoot tr td {
	border: 1px solid $color__border-table;
}
thead tr th {
	padding: 0.25rem;
}
tbody tr th,
tbody tr td,
tfoot tr th,
tfoot tr td {
	padding: 0.125rem 0.25rem;
}
caption.tablepress-table-caption {
  font-size: 1.1rem;
	font-weight: 600;
  margin: 0 0 0.5em;
	a {
		font-size: 0.9rem;
		float: right;
		margin-left: 1em;
	}
	br {
		display: none;
	}
}
