#main,
#secondary .widget {
	padding: 1em 0;
}
/* Full width page template & portfolio template. */
#primary.full-width-page,
#primary.portfolio-page {
	margin: 0;
	width: 100%;
	max-width: 1140px;
}
