/* Tertiary widget area. */
#tertiary {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid $color__border-footer;
}
#tertiary .widget {
	margin: 0;
	padding: 2em 0;
}

/* Site info. */
.site-info {
	padding: 1em 0;
	@include font-size(0.875);
	.sep {
		display: none;
		margin: 0 0.15em;
	}
	.site-info-section {
		display: block;
		text-align: center;
	}
	.credits {
		margin-top: 1em;
	}
}

@media screen and (min-width: $breakpoint-medium) {
	/* Site info. */
	.site-info {
		.sep {
			display: inline;
		}
		.site-info-section {
			display: inline;
			width: auto;
		}
		.credits {
			margin-top: 0;
			text-align: left;
		}
		#bottom-social {
			float: right;
			margin-left: 2em;
		}
	}
}

@media screen and (min-width: $breakpoint-large) {
	/* Tertiary widget area. */
	#tertiary {
		flex-direction: row;
		justify-content: space-between;
		.widget {
			width: 30%;
			margin: 0 0.5em;
			&:first-child,
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
