/* Hidden header. */
#hidden-header {
	display: none;
	background: $color__background-hidden;
}

/* Header. */
#masthead {
	display: flex;
	justify-content: space-between;
}
.site-branding {
	margin-right: 1em;
}

/* Site Branding. */
.site-branding {
	display: flex;
	align-items: center;
}
h1.site-title {
	margin: 0;
	line-height: 1;
	font-size: 1.5em;
}
h1.site-title a {
	text-decoration: none;
}
h1.site-title a img {
	height: 50px;
}
p.site-description {
	display: none;
}
@media screen and (min-width: $breakpoint-large) {
	h1.site-title a img {
		height: 75px;
	}
}
