/* Header. */
.site-branding {
	position: absolute;
	bottom: 16px;
	left: 5%;
}

/* Site Branding. */
h1.site-title {
	margin: 0;
	line-height: 1;
	font-size: 1.5em;
}
h1.site-title a {
	text-decoration: none;
}
h1.site-title a img {
	height: 50px;
}
p.site-description {
	display: none;
}
@media screen and (min-width: $breakpoint-medium) { .flexbox {
	#masthead {
		display: flex;
		justify-content: space-between;
	}
	.site-branding {
		align-items: center;
		display: flex;
		margin-right: 1em;
		position: static;
	}
} }

@media screen and (min-width: $breakpoint-large) { .flexbox {
	h1.site-title a img {
		height: 75px;
	}
} }
