body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body.admin-bar {
	margin-top: -46px;
}

div#wpadminbar {
	order: -1;
	position: static !important;
}

@media screen and (min-width: 783px) {
	body.admin-bar {
		margin-top: -32px;
	}
}

#masthead,
#primary,
#secondary,
#colophon {
	padding: 1em 5%;
}

@media screen and (min-width: $breakpoint-large) {
	#page {
		display: flex;
		flex: 1 0 0;
		flex-direction: column;
	}
	#masthead,
	#colophon {
		padding: 1em 6%;
	}
	#content {
		display: flex;
  	flex: 1 0 0;
	}
	#primary {
		flex: 1 0 0;
		padding: 1em 2em 1em 6%;
	}
	#secondary {
		flex: 0 0 calc(20em + 6%);
		padding: 1em 6% 1em 2em;
	}

	/* Sidebar is active and/or left sidebar is selected. */
	.left-sidebar {
		#primary {
			order: 2;
			padding: 1em 6% 1em 2em;
		}
		#secondary {
			order: 1;
			padding: 1em 2em 1em 6%;
		}
	}
}
