#masthead,
#primary,
#secondary,
#colophon {
	width: 100%;
}
#content {
	display: flex;
	flex-direction: column;
	@include site-width();
	margin-top: 56px;
	margin-top: 3.5em;
}
#primary,
#secondary {
	margin: 0 auto;
}
#secondary,
#colophon {
	margin-top: 56px;
	margin-top: 3.5em;
}

/* Sidebar is not active. */
.no-sidebar #primary {
	margin: 0 auto;
}

@media screen and (min-width: $breakpoint-large) {
	#content {
		flex-direction: row;
	}
	#primary {
		width: 66.666%;
	}
	#secondary {
		width: 33.333%;
		margin-top: 0;
	}
	/* Sidebar is active and/or right sidebar is selected. */
	.right-sidebar {
		#primary {
			margin: 0;
		}
		#secondary {
			margin: 0;
		}
	}

	/* Sidebar is active and/or left sidebar is selected. */
	.left-sidebar {
		#primary {
			order: 2;
			margin: 0;
		}
		#secondary {
			order: 1;
			margin: 0;
		}
	}
}
