body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#wpadminbar {
	height: 46px;
}

body.admin-bar {
	margin-top: -46px;
}

div#wpadminbar {
	order: -1;
	position: static !important;
}

@media screen and (min-width: 783px) {
	#wpadminbar {
		height: 32px;
	}

	body.admin-bar {
		margin-top: -32px;
	}

	.admin-bar.scroll-above-banner-break {
		#masthead {
			top: 32px;
		}
	}
}

#desktop-search,
#masthead,
#primary,
#secondary,
#colophon {
	padding: 1em 5%;
}

#banner-image {
	background-position: center center;
	background-size: cover;
	height: 200px;
	width: 100%;
}

#masthead {
	padding-bottom: 66px;
	position: relative;
}

@media screen and (min-width: $breakpoint-medium) {
	#primary-navigation {
		display: flex;
		flex: 1 1 auto;
		justify-content: flex-end;
	}
	/* Banner magic scrolling */
	#banner-image {
		height: 350px;
		position: fixed;
		top: 0;
		z-index: -1;
	}

	#masthead {
		height: 82px;
		padding-bottom: 1em;
	}

	.scroll-above-banner-break {
		#wpadminbar {
			position: fixed !important;
		}

		#masthead {
			position: fixed;
			top: 0;
			width: 100%;
		}
	}
}

@media screen and (min-width: $breakpoint-large) {
	#page {
		display: flex;
		flex: 1 0 0;
		flex-direction: column;
	}
	#banner-image {
		height: 400px;
	}
	#masthead,
	#colophon {
		flex: none;
		padding: 1em 6%;
	}
	#masthead {
		height: 107px;
	}
	#content {
		display: flex;
  	flex: 1 0 auto;
		padding: 0 6% 0 0;
	}
	#primary {
		flex: 1 0 1;
		padding: 1em 2em 1em 6%;
		width: 100%;
	}
	#secondary {
		flex: 0 0 20em;
		padding: 1em 0 1em 2em;
	}
	/* Sidebar is active and/or left sidebar is selected. */
	.left-sidebar {
		#content {
			padding: 0 0 0 6%;
		}
		#primary {
			order: 2;
			padding: 1em 6% 1em 2em;
		}
		#secondary {
			order: 1;
			padding: 1em 2em 1em 0;
		}
	}
}
